.DS_Store
.idea
__pycache__
.pynb_cheakpoints
Jupyter
Data_visualization_project.png
Data Analysis and visualization -project.png
.vscode
Untitled.ipynb
Pipfile.lock
Pipfile
test_output
Visualization.ipynb
.pytest_cache

